.bg-cover {
    background-image: url("../images/main-bg-2.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

.container {   
width: 50%;
}

.white-text{
    color: #ffffff;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.signup-form {
    font-family:'Times New Roman', Times, serif;
    border-radius: 40px;
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

input {
    margin-bottom: 10px;
}

.submit-btn {
    background-color: #1e1e1e;
    color: #ffffff;
    transition: 0.25s all;
}

.submit-btn:hover {
    background-color: rgb(43, 43, 43);
    color: rgb(149, 214, 0);
}

.m-hyperlink{
    color: rgb(149, 214, 0);
    text-decoration: none;
    transition: 0.25s all;
}

.m-hyperlink:hover{
    color: rgb(149, 214, 0);
    text-decoration: underline;
}